<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>air-emf-1.0</display-name>
  <servlet>
    <display-name>Front Controller Servlet</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>com.emfrontier.air.common.servlet.ServletController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LMS Scheduler Servlet</display-name>
    <servlet-name>LmsScheduler</servlet-name>
    <servlet-class>com.emfrontier.air.lms.scheduler.LmsScheduler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>conf/log4j.properties</param-value>
  </context-param>
  <filter>
    <filter-name>RequestFilter</filter-name>
    <filter-class>com.emfrontier.air.common.filter.RequestFilter</filter-class>
    <init-param>
      <param-name>allowMethod</param-name>
      <param-value>GET,POST</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/ServletController</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>quartz:config-file</param-name>
    <param-value>conf/quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:shutdown-on-unload</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:wait-on-shutdown</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:start-on-load</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/error_page/error_default.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error_page/error_default.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error_page/error_default.jsp</location>
  </error-page>
</web-app>